<section>
  <div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-32 lg:pb-24 lg:pt-32">
    <div class="lg:text-center">
      <h1
        class="text-balance font-display text-4xl font-medium tracking-tight text-black md:text-8xl"
      >
        On Scene Studio
      </h1>
    </div>
  </div>
</section>
