<li>
  <img
    class="h-12"
    src="https://res.cloudinary.com/dhopxs1y3/image/upload/q_auto/v1681781490/os.studio/domino_cucc1z.png"
    alt="DOMINO"
  />
</li>
<li>
  <img
    class="h-12 invert grayscale"
    src="https://res.cloudinary.com/dhopxs1y3/image/upload/q_auto/v1681781489/os.studio/plotly_w7ef5z.png"
    alt="PLOTLY"
  />
</li>
<li>
  <img
    class="h-12 invert"
    src="https://res.cloudinary.com/dhopxs1y3/image/upload/q_auto/v1681781489/os.studio/bosch_r8gize.png"
    alt="BOSCH"
  />
</li>
<li>
  <img
    class="h-12"
    src="https://res.cloudinary.com/dhopxs1y3/image/upload/q_auto/v1681794441/os.studio/flojoy_corrected_toiwqu.png"
    alt="FLOJOY"
  />
</li>
<li>
  <img
    class="h-12 invert"
    src="https://res.cloudinary.com/dhopxs1y3/image/upload/q_auto/v1681794011/os.studio/rdo_copy_vhdgcz.png"
    alt="RDO"
  />
</li>
<li>
  <img
    class="h-12 filter grayscale brightness-0"
    src="https://res.cloudinary.com/dhopxs1y3/image/upload/q_auto/v1681781489/os.studio/stanford_dkl3on.png"
    alt="STANFORD"
  />
</li>
<li>
  <img
    class="h-12 invert"
    src="https://res.cloudinary.com/dhopxs1y3/image/upload/q_auto/v1681781488/os.studio/apple_n0jftb.png"
    alt="APPLE"
  />
</li>
<li>
  <img
    class="h-12 invert"
    src="https://res.cloudinary.com/dhopxs1y3/image/upload/q_auto/v1681781489/os.studio/enthought_fsiphw.png"
    alt="ENTHOUGHT"
  />
</li>
