<section>
  <div class="mx-auto max-w-7xl px-8 py-12 md:px-12 lg:px-32 lg:pb-24">
    <div class="relative bg-black p-8 lg:p-20">
      <h2
        class="mx-auto text-balance text-center font-display text-3xl font-light text-white lg:text-8xl"
      >
        Get in touch with us for your next project.
      </h2>
      <form action="" class="mt-12">
        <div class="mx-auto flex w-full max-w-md flex-col gap-1 sm:flex-row">
          <input
            name="email"
            type="email"
            class="font-spline block h-10 w-full rounded-full border border-zinc-900 bg-zinc-800 px-4 py-2 text-sm font-medium text-zinc-800 placeholder-zinc-400 focus:border-zinc-800 focus:outline-none focus:ring-2 focus:ring-zinc-700/50 disabled:opacity-50 lg:px-6"
            placeholder="Enter your email..."
            required=""
          /><button
            type="button"
            class="inline-flex h-10 items-center justify-center rounded-full border border-transparent bg-white px-4 py-2 text-sm text-black ring-1 ring-transparent duration-300 hover:bg-white/10 hover:text-white focus:ring-2 focus:ring-black focus:ring-offset-2"
            ><div style="position:relative"></div>Submit<!-- -->
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              aria-hidden="true"
              class="ml-2 h-auto w-4"
              ><path
                fill-rule="evenodd"
                d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z"
                clip-rule="evenodd"></path></svg
            ></button
          >
        </div>
      </form>
    </div>
  </div>
</section>
