<footer class="border-t bg-white">
  <div class="mx-auto max-w-7xl px-8 py-6 md:px-12 lg:px-32">
    <section class="gap-x-8 gap-y-6">
      <div>
        <p
          class="text-sm text-zinc-600 lg:col-span-2"
          x-data="{ year: new Date().getFullYear() }"
        >
          © <span x-text="year"></span> On Scene Studio. All rights reserved.
        </p>
      </div>
    </section>
  </div>
</footer>
